{% extends "main/base.html" %}
{% block title %} View Recipe {% endblock %}

{% block content %}
	<h1>{{ls.name}}</h1>
	<br>
	<p><b>Ingredients:</b></p>
	<form method="post", action="#">
		{% csrf_token %}
		{% for ingredient in ls.ingredient_set.all %}
		<div class="input-group">
			
			<div class="input-group-prepend">
				<input type="text", name="t{{ingredient.id}}",  value="{{ingredient.text}}", class="form-control">
				<input type="number" value={{ingredient.quantity|floatformat:"-1"}} name="q{{ingredient.id}}", class="form-control", min="0", step="0.1">
				<button type="submit", name="delete", value="{{ingredient.id}}", class="btn btn-success"><i class="fa fa-trash"></i></button>
			</div>
		</div>
		{% endfor %}
		<br>
		<br>
		<p><b>Preparation:</b></p>
		{% for preparation in ls.preparation_set.all %}
			<input type="text", name="{{preparation.id}}",  value="{{preparation.preparation}}", class="form-control">
		{% endfor %}
		<br>
		<br>
		<p><b>Type name and quantity of ingredient to add.</b></p>
		<div class="input-group">
			<input type="text" name="new_ingredient", placeholder="Ingredient", class="form-control">
			<input type="number" name="new_quantity", placeholder="Quantity", class="form-control", min="0", step="0.1">
		</div>
		<br>
		<button type="submit", name="newIngredient", value="newIngredient", class="btn btn-success">Add Ingredient</button>	
		<br>
		<br>
		<br>
		<button type="submit", name="save_ingredients", value="save_ingredients", class="btn btn-success">Save</button>

	</form>
{% endblock %}