{% extends "main/base.html" %}
{% block title %} View Recipes {% endblock %}

{% block content %}
	<h1>Recipes</h1>
	<br>
	<div class="text-justify">
		<p><b>Select the number of people eating from each recipe and click Save. The shopping list will then be generated.</b></p>
	</div>
	<br>
	<form method="post", action="#">
	{% csrf_token %}
		{% for recipe in rl %}
			{% if recipe.meal == "Desayuno" %}
				<div class="row", style="padding-top: 10px; padding-bottom: 10px; background-color: #fffce3;">
			{% elif recipe.meal == "Complemento" %}
				<div class="row", style=" padding-top: 10px; padding-bottom: 10px;background-color: #e3edff;">
			{% elif recipe.meal == "Comida" %}
				<div class="row", style=" padding-top: 10px; padding-bottom: 10px;background-color: #fff0e3;">
			{% else %}
				<div class="row", style=" padding-top: 10px; padding-bottom: 10px;">
			{% endif %}
					<div class="col">
						<div class="recipes">
							<a href="/{{recipe.id}}">{{recipe.name}}</a>
						</div>
					</div>
					<div class="col-4">
						
						<select name="m{{recipe.id}}", value="{{recipe.meal}}">
							<option value="{{recipe.meal}}">{{recipe.meal}}</option>
							<option value="Desayuno">Desayuno</option>
							<option value="Complemento">Complemento</option>
							<option value="Comida">Comida</option>
						</select>
						<input type="number" value={{recipe.quantity}} name="q{{recipe.id}}", class="form-control", min="0">
					</div>
				</div>
				<hr style="margin: 0; border-color: #000;">
		{% endfor %}

		<br>
		<div class="row">
			<div class="col-sm-12 text-center">
				<button type="submit", name="save_recipes", value="save_recipes", class="btn btn-success">Save</button>
				<button type="submit", name="clear_recipes", value="clear_recipes", class="btn btn-success">Clear</button>
			</div>
		</div>
	</form>
{% endblock %}